<div class="container mb-5">
  <h2 class="mt-3">Try it out!</h2>
  <p><strong>http://localhost:4567/</strong> will give you a search for "chicken"</p>
  <p><strong>http://localhost:4567/?query=thai</strong> will give you a search for a query</p>
  <p><strong>In the .env file:</strong></p>
  <pre>
    <code>
      OPENAI_API_KEY=sk-YXXXXXXXXXXXXXXXXXXXXXXXX
      WEAVIATE_URL=https://XXXXXXXXXXXXXXX.weaviate.network
      WEAVIATE_API_KEY=2YfNIVXXXXXXXXXXXXXXX
    </code>
  </pre>
  <hr>
  <h3 class="mt-3">Original data</h3>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= recipe %></li>
    <% end %>
  </ul>
  <hr>
  <h3 class="mt-3">Result</h3>
  <p>Search query: <%= @query %></p>
  <ul>
    <% @result.each do |data| %>
      <li><%= data["content"] %></li>
    <% end %>
  </ul>
</div>